extends layout

block content
  h1= title
  p Welcome to #{title}
  h4
    a(href="#{api_path}") 接口文档
  h4
    a(href="#{socketio_path}") socketio测试demo
  h4
    a(href="#{sockettest_path}") socket个人测试
  h4
    a(href="#{socketjade_path}") jade模板测试socket
